<div>
	<h1> {{greeting}} </h1>

	<h3 ng-if="denyGeoLocation">You need to allow for geolocation services!</h3>

	<button ng-click="getLocalWeather()">Get Weather</button>

	<h4>Current Location: {{currentLocation.city}}, {{currentLocation.state}}</h4>

	<div class="current-weather" ng-if="currentWeather">
		Currently
		<p>Temp: <span>{{currentWeather.current.temp}} C</span></p>
		<img src="{{currentWeather.current.icon}}" />
		<div>
			Today:
			<p>Sunrise: <span>{{currentWeather.day.sunrise | date:'medium'}}</span></p>
			<p>Sunet: <span>{{currentWeather.day.sunset | date:'medium'}}</span></p>
			<p>High Temp: <span>{{currentWeather.day.highTemp}} C</span></p>
			<p>Low Temp: <span>{{currentWeather.day.lowTemp}} C</span></p>

		</div>
	</div>


</div>
